@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../../FundoSite.png);
}

a{
    font-size: 40px

}
.container {
    width: 78%;
    height: 78vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-image: url(../imgprin/telaacesar.png);
    background-size: cover;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-color: white;
    background-image: url(../imgprin/telaacesar.png);
    background-repeat: no-repeat;
    background-size: 93%;
}

#imgpos

    {position: absolute; 
	left: 800px; /* posiciona a 500px para a esquerda */ 
	top: 125px; /* posiciona a 100px para baixo */
}
   

.like{
    padding: 15px 20px;
    background: rgb(52, 140, 240);
    color: rgb(250, 248, 248);
    border: 1px solid rgb(17, 0, 255);
    text-decoration: none;
    border-radius: 80px;
    position: absolute;
    top: 700px;
    left: 1100px;
}

.notlike{
    padding: 15px 20px;
    background: rgb(52, 140, 240);
    color: rgb(250, 248, 248);
    border: 1px solid rgb(17, 0, 255);
    text-decoration: none;
    border-radius: 80px;
    position: absolute;
    top: 700px;
    left: 900px;
}

.chat{
    padding: 20px 22px;
    background: rgb(52, 140, 240);
    color: rgb(250, 248, 248);
    border: 1px solid rgb(17, 0, 255);
    text-decoration: none;
    border-radius: 80px;
    position: absolute;
    top: 150px;
    left: 350px;
}
.voltar{
    padding: 5px 5px;
    background: rgb(52, 140, 240);
    color: rgb(250, 248, 248);
    border: 1px solid rgb(17, 0, 255);
    text-decoration: none;
    border-radius: 80px;
    position: absolute;
    top: 685px;
    left: 800px;
}
.perfil{
    padding: 20px 25px;
    background: rgb(52, 140, 240);
    color: rgb(250, 248, 248);
    border: 1px solid rgb(17, 0, 255);
    text-decoration: none;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 1500px;
}