@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../../FundoSite.png);
}

.container {
    width: 78%;
    height: 78vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 152, 212), white);
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: flex-end;
}

.login-button button {
    border: none;
    background-color: rgb(0, 119, 255);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: rgba(0, 75, 161, 0.959);
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(0, 119, 255);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 4rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid rgb(0, 119, 255);
}










.input-box label,
.gender-title h6 {
    font-size: 2rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 4rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(0, 119, 255);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: rgba(0, 75, 161, 0.959);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../../FundoSite.png);
}

a{
    font-size: 40px

}
.container {
    width: 78%;
    height: 78vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-color: white;
    background-image: url(../img0/imgHOME.svg);
    background-repeat: no-repeat;
    background-size: 93%;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.sua-conta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sua-conta button {
    border: none;
    background-color: rgb(0, 119, 255);
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sua-conta button:hover {
    background-color: rgba(0, 75, 161, 0.959);
}

.sua-conta button a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: rgb(0, 119, 255);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box input:focus-visible {
    outline: 1px solid rgb(0, 119, 255);
}

.input-box input::placeholder {
    color: #000000be;
}


.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(0, 119, 255);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: rgba(0, 75, 161, 0.959);
}

.continue-button button a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}
