@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../../FundoSite.png);
}

h1 {
    font-size: 70px;
    text-align: center;
    color: #FF9EFE
}

.container {
    width: 78%;
    height: 78vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url(../img3/batebate.png);
    background-repeat: no-repeat;
    background-size: 93%;
}


.input-box input::placeholder {
    color: #000000be;
}

.item1 {
    font-size: 20px;
    background-color: #FF9EFE;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 230px;
    padding-right: 230px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.item1:hover{
    background-color: #ff9efdd0;
}

.scroll-div{
    width: 740px;
    height: 565px;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #FF9EFE;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ff9efdd0;
}

.volt{
    display: inline-block;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 1200px;
    text-decoration: none;
    padding-top: 20px;
}

.vouuu{
    display: inline-block;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-inline-end: 0px;
    background-color: #FF9EFE;
    border-radius: 10%;
    padding: 4%;
}

.vouuu:hover{
    background-color: #ff9efdd0;
}


.volt2{
    display: inline-block;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-right: 1200px;
    text-decoration: none;
    padding-top: 20px;
}

.vouuu2{
    display: inline-block;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-inline-end: 0px;
    background-color: #FF9EFE;
    border-radius: 10%;
    padding: 4%;
}

.vouuu2:hover{
    background-color: #ff9efdd0;
}
